@import 'bootstrap_variables';
@import 'customcss';

body {
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
}

.box {
    padding-top: 90px;
    padding-bottom: 90px;
    height: 100%;
}

.form-box {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .form-box input {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
}

a {
    color: #36375E;
    &:hover {
        color: #F47820;
    }
}


.custom {
    width: 300px;
}

.load {
    display: none;
}

.border {
    padding: 20px 20px 20px 37px;
    min-width: 250px;
    height: 53px;
    min-height: 53px;
}

.absolute {
    position: absolute;
    font-size: 1.6em;
    top: 0;
    left: 10px;
    line-height: 2.1em;
}

.form-group {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-success:hover {
    background-color: #d65f0b!important;
}

.text-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.table-striped {
    width: 100%;
    color: white;
    text-align: right;
}

.table-content {
    width: 100%;
    color: white;
    text-align: left;
}